{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="class=container">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 10%; margin-bottom: 10%;">


            <h2>Dashboard</h2>
            <p>All your arlicles are displayed here</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>body</th>
                </tr>
                </thead>
                <tbody>
                <tr class="success">
                    <td>title1 test statique</td>
                    <td>description1 test statique</td>
                    <td>body1 test statique: ffffffffffffffffffffff
                        fddddddddddddddd
                        fddddddddddddddddddddddddddddddd
                        fdddddddddddddddddddddddddddd
                    </td>
                </tr>
                <tr class="danger">
                    <td>title2 test statique</td>
                    <td>description2 test statique</td>
                    <td>body2 test statique: ffffffffffffffffffffff
                        fddddddddddddddd
                        fddddddddddddddddddddddddddddddd
                        fdddddddddddddddddddddddddddd
                    </td>
                </tr>
                <tr class="info">
                    <td>title3 test statique</td>
                    <td>description3 test statique</td>
                    <td>body3 test statique: ffffffffffffffffffffff
                        fddddddddddddddd
                        fddddddddddddddddddddddddddddddd
                        fdddddddddddddddddddddddddddd
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
{% endblock %}




